<%= form_for(@question) do |f| %>
	<div class="field">
	    <%= f.label :correct_ans %><br>
	    <%= f.text_field :correct_ans, multiple: true, size: "60x3", placeholder: "your text here" %>
		<%= f.select :correct_ans, options_for_select(:ans1, :ans2, :ans3, :ans4) %>
		<%= f.check_box(:ans1, :ans2, :ans3, :ans4 {checked: true}) %>
		<%= f.select :correct_ans, options_for_select([:ans1, :ans2, :ans3, :ans4]) %>
		<%= f.collection_check_boxes, :correct_ans, collection: [[:ans1], [:ans2], [:ans3], [:ans4]] %>
	</div>


	<%= f.label :correct_ans %><br>
    <%= f.fields_for :correct_ans do |c| %>
        <%= c.select :correct_ans, [[ "All", 0 ]] + Question.all.collect { |pt| [pt.ans1 ] } %>
        <%= c.text_field :ans1 %>
        <%= c.text_field :ans2 %>
        <%= c.text_field :ans3 %>
        <%= c.text_field :ans4 %>
    <% end %>

    <div class="field">
    <%= f.label :correct_ans %><br>
    <%= f.select :correct_ans, @prashna.collect { |q| [q.ans1, q.ans2, q.ans3, q.ans4] } %>
    
  </div>
<% end %>