<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :q1 %><br>
   <pre> <%= f.text_area :q1, size: "60x6", placeholder: "your text here" %></pre>
  </div>
  <div class="field">
    <%= f.label :ans1 %><br>
    <%= f.text_field :ans1, size: "60x3", placeholder: "your text here" %>
  </div>
  <div class="field">
    <%= f.label :ans2 %><br>
    <%= f.text_field :ans2, size: "60x3", placeholder: "your text here" %>
  </div>
  <div class="field">
    <%= f.label :ans3 %><br>
    <%= f.text_field :ans3, size: "60x3", placeholder: "your text here" %>
  </div>
  <div class="field">
    <%= f.label :ans4 %><br>
    <%= f.text_field :ans4, size: "60x3", placeholder: "your text here" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
