<%= form_for(@question) do |f| %>
	<div class="field">
	    <%= f.label :correct_ans %><br>
	    <%= f.text_field :correct_ans, multiple: true, size: "60x3", placeholder: "your text here" %>
		<%= f.select :correct_ans, options_for_select(:ans1, :ans2, :ans3, :ans4) %>
		<%= f.check_box(:ans1, :ans2, :ans3, :ans4 {checked: true}) %>
		<%= f.select :correct_ans, options_for_select([:ans1, :ans2, :ans3, :ans4]) %>
		<%= f.collection_check_boxes, :correct_ans, collection: [[:ans1], [:ans2], [:ans3], [:ans4]] %>
	</div>


	<%= f.label :correct_ans %><br>
    <%= f.fields_for :correct_ans do |c| %>
        <%= c.select :correct_ans, [[ "All", 0 ]] + Question.all.collect { |pt| [pt.ans1 ] } %>
        <%= c.text_field :ans1 %>
        <%= c.text_field :ans2 %>
        <%= c.text_field :ans3 %>
        <%= c.text_field :ans4 %>
    <% end %>

    <div class="field">
    <%= f.label :correct_ans %><br>
    <%= f.select :correct_ans, @prashna.collect { |q| [q.ans1, q.ans2, q.ans3, q.ans4] } %>
    
  </div>
<% end %>


    serialize :correct_ans, Array


    <p id="notice"><%= notice %></p>

<h1>Listing Questions:</h1><br /> <br />

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    
    <% for i in 0..@num %>
    <tr>
     <td><strong> <%= (i+1) %>. &nbsp <%= simple_format(@questions[i].q1) %></strong><br /><br />
          <ol type="A">
          
            <div>
            <input type="radio" value="<%= @questions[i].ans1 %>">&nbsp<%= @questions[i].ans1 %><br />
            <input type="radio" value="<%= @questions[i].ans2 %>">&nbsp<%= @questions[i].ans2 %><br />
            <input type="radio" value="<%= @questions[i].ans3 %>">&nbsp<%= @questions[i].ans3 %><br />
            <input type="radio" value="<%= @questions[i].ans4 %>">&nbsp<%= @questions[i].ans4 %><br />
            </div>
          </ol>
     </td>
     <td></td>
     
    </tr>
    <% end %> 
  </tbody>
</table>

<br>



