<p id="notice"><%= notice %></p>

<h1>Listing Questions:</h1><br /> <br />

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% for i in 0..@num %>
    <tr>
     <td><strong> <%= (i+1) %>. &nbsp <%= simple_format(@questions[i].q1) %></strong><br /><br />
          <ol type="A"><li><%= @questions[i].ans1 %></li><br />
          <li><%= @questions[i].ans2 %></li><br />
          <li><%= @questions[i].ans3 %></li><br />
          <li><%= @questions[i].ans4 %></li><br />
          
          <pre><strong> Ans: </strong> &nbsp<%= @questions[i].correct_ans %></pre>
      </ol><hr />
     </td>
     <td></td>
     <td><%= link_to 'Destroy', @questions[i], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>


