<p id="notice"><%= notice %></p>

<h1>Listing Questions:</h1>

<table>
  <thead>
    <tr>
      <th>Questions:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question|%>
      <tr>
        <td><%= question.id %>. &nbsp<%= question.q1 %><br />
        <ul> <li><%= question.ans1 %></li>
        <li><%= question.ans2 %></li>
        <li><%= question.ans3 %></li>
        <li><%= question.ans4 %></li></ul><hr />
        
       </td>
       <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>


