<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table>
  <thead>
    <tr>
      <th>Questions:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper|%>
      <tr>
        <td><%= paper.id %>. &nbsp<%= paper.q1 %><br />
        <ul> <li><%= paper.ans1 %></li>
        <li><%= paper.ans2 %></li>
        <li><%= paper.ans3 %></li>
        <li><%= paper.ans4 %></li></ul><hr />
        
       </td>
       <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>


