<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @paper.q1 %>
</p>

<p>
  <strong>Ans1:</strong>
  <%= @paper.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @paper.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @paper.ans3 %>
</p>

<p>
  <strong>Ans4:</strong>
  <%= @paper.ans4 %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
